<div class="container">


    {{#each allNews}}

    <div class="card" style="margin-bottom: 20px;" id="id-{{tempId}}">
        <div class="card-body">
            <h5 class="card-title">{{headline}}</h5>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Summary:</h6>
            <p class="card-text">{{summary}}</p>
            <a href={{url}} class="card-link">News Url</a>
            <br>
            <br>
            <button type="button" class="btn btn-info" data-save="false" tempId={{tempId}} id="save-article-button">Save this Article</button>
        </div>
    </div>

    {{/each}}


</div>